.searchpart {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // background: lime;

    &__wrap {
        height: 100%;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background: greenyellow;
    }
    &__logo {
        height: 60%;
        width: 200px;
        background-image: url("../assets/images/logo/keurigLogo.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        // background: tomato;
    }
    
    &__searchbar {
        border-radius: 20px;
        width: 550px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background: rgb(230, 230, 230);

        .fa-search {
            font-size: 25px;
            color: #000;
        }
        input {
            width: 500px;
            height: 40px;
            border-radius: 20px;
            border: none;
            padding: 20px;
            outline: none;
            background: none;
            font-weight: bold;
        }
        ::placeholder {
            color: rgb(41, 41, 41);
            font-weight: bold;
        }
    }
    &__icons {
        width: 350px;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // background: salmon;

        p {
            text-transform: uppercase;
            margin: 0;
            // background: chartreuse;
        }
        .fa-user {
            font-size: 30px;
            color: #000;
            // background: chartreuse;
        }
        .fa-user:hover {
            background: rgb(235, 235, 235);
            border: 6px solid rgb(235, 235, 235);
            border-radius: 8px;
        }
        .fa-shopping-cart {
            font-size: 30px;
            text-decoration: none;
            color: #000;
        }
        .fa-shopping-cart:hover {
            background: rgb(235, 235, 235);
            border: 6px solid rgb(235, 235, 235);
            border-radius: 8px;
        }
    }
}




// tablet
@media only screen and (max-width: 900px) {
    .searchpart {
        height: 150px;
        // background: lime;

        &__wrap {
            display: inline;
            align-items: center;
            justify-content: space-evenly;
            width: 80%;
            height: 130px;
            // background: greenyellow;
        }
        &__logo {
            height: 20%;
            width: 100px;
            margin: 0 auto;
        }
        &__searchbar {          //ugh why can't I input now
            width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .fa-search {
            visibility: hidden;
        }
        input {
            padding: 10px;
        }
        &__icons {
            width: 250px;
            height: 30px;
            margin: 0 auto;
            // background: salmon;
        }
        .fa-user, .fa-shopping-cart {
            font-size: 20px;
        }
    }
}


// phone
@media only screen and (max-width: 550px) {
    
}